NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
NEXT_SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
NEXT_STRIPE_SECRET_KEY=sk_test_xxx
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_GOOGLE_VOICE_TO_TEXT_API_KEY=AIzaSyDwfsh8GLgEH7Xvug9eIj4rS411_hjA0ZM
NEXT_GOOGLE_TEXT_TO_VOICE_VERTEX=AQ.Ab8RN6IP3NLGT06so9VaWYoYJtT-ziD9NwRoAaBoo_sSqhS-NQ